repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args:
          [
            --exclude,
            "*dev_testing.ipynb,*second_tester_notebook.ipynb",
            "--show-files",
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: ["./src", --ignore-missing-imports, --disallow-untyped-defs]
        additional_dependencies: [types-requests, types-pyyaml]
        pass_filenames: false
  - repo: https://github.com/jsh9/pydoclint
    rev: 98bb10c
    hooks:
      - id: pydoclint
        args: ["--config=./pydoclint.toml"]
